@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #212121;
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.root{
  display:flex;
  flex-direction: column;
}

header{
  background-color: #EDC126;
  padding:1rem;
  display:flex;
  justify-content: space-between;
}

header h2{
  color:#212121;
  padding: 0;
  margin-left: 10px;
  margin-top:10px;
  margin-bottom: 0;
  font-weight: bold;
  font-family: inherit;
}

.search {
  background-color:#212121;
  font-family: inherit;
  font-size: 1.2rem;
  border : 2px solid #212121;
  border-radius:50px;
  color: #fff;
  padding: 0.5rem 1.5rem;
}

.search:focus{
  outline:none;
}

.movie-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  margin: 1rem;
  width: 300px;
  background-color: #EDC126;
  border-radius:3px;
  color: #212121;
  /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
  position:relative;
}

.movie img {
  object-fit: cover;
  height: 450px;
  width: 100%;
}

.movie-info {
  display:flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.movie-info h3 {
  margin: 0;
}

.movie-over{
  background-color:#fff;
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  padding:1rem;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  overflow:auto;
  max-height: 100%;
  transform:translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-over{
  transform:translateX(0%);
}

.tag{
  background-color: #212121;
  padding: 0.5rem;
  color: #fff;
  border-radius:5px;
  font-weight: bold;
}

.tag.green{
  color: rgb(14, 209, 14);
}

.tag.orange{
  color: rgb(228, 148, 0);
}

.tag.red{
    color: rgb(216, 16, 16);
}


