@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #212121;
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
